@import "tailwindcss";

*{
  
  font-family: 'Poppins', sans-serif;
}

.app{
  width: 80%;
  margin: auto;
}

button{
  border-radius: 50px;
  padding: 4px 10px;
  border: 1px solid green;
}

.nav .active{
  padding-bottom: 2px;
  border-bottom: 2px solid rgb(199, 199, 199);
}

.nav li:hover{
  cursor: pointer;
}